<template>
  <div>
    <vue-cal
      :time="false"
      active-view="month"
      :events="events"
      class="vuecal--green-theme"
      style="height: 100vh"
    >
      <template v-slot:event="{ event }">
        <!-- <v-icon>{{ event.icon }}</v-icon> -->

        <div
          class="vuecal__event-title vuecal__event-title--edit"
          contenteditable
          @blur="event.title = $event.target.innerHTML"
          v-html="event.title"
        />

        <small class="vuecal__event-time">
          <strong>Event start:</strong>
          <span>{{ event.start.formatTime("h O'clock") }}</span
          ><br />
          <strong>Event end:</strong>
          <span>{{ event.end.formatTime("h O'clock") }}</span>
        </small>
      </template>
    </vue-cal>
  </div>
</template>

<script>
import VueCal from "vue-cal";
import "vue-cal/dist/vuecal.css";

// USING: https://antoniandre.github.io/vue-cal/

export default {
  name: "Calendar1",
  components: { VueCal },
  data: () => {
    return {
      events: [
        {
          start: "2020-09-20 14:00",
          end: "2020-09-20 18:00",
          title: "Need to go shopping",
          // icon: 'shopping_cart',
          class: "leisure",
        },
        {
          start: "2020-09-22 10:00",
          end: "2020-09-22 15:00",
          title: "Golf with John",
          // icon: 'golf_course',
          class: "sport",
        },
      ],
    };
  },
};
</script>

<style scoped>
.vuecal__event.leisure {
  background-color: rgba(253, 156, 66, 0.9);
  border: 1px solid rgb(233, 136, 46);
  color: #fff;
}
.vuecal__event.sport {
  background-color: rgba(255, 102, 102, 0.9);
  border: 1px solid rgb(235, 82, 82);
  color: #fff;
}
</style>
