<template>
  <div>
    <FullCalendar
      :events="events"
      @changeMonth="changeMonth"
      @eventClick="eventClick"
      @dayClick="dayClick"
      lang="es"
      firstDay="1"
    >
    </FullCalendar>

    <EventModal
      @close="dialog = false"
      @change="saveChanges"
      :event="selectedEvent"
      :dialog="dialog"
    />
  </div>
</template>

<script>
import FullCalendar from "@/components/calendar/FullCalendar";
import EventModal from "@/components/EventModal";
import moment from "moment";

// USING: https://github.com/Wanderxx/vue-fullcalendar

export default {
  name: "Calendar3",
  components: { FullCalendar, EventModal },
  data() {
    return {
      dialog: false,
      selectedEvent: {},
      events: [
        {
          title: "Serie 2 - Turno de mañana",
          description: "Es la descripción del turno de mañana de la serie 2",
          start: "2020-09-22",
          end: "2020-09-29",
          cssClass: ["event", "morning"],
        },
        {
          title: "Serie 2 - Turno de tarde",
          description: "Es la descripción del turno de tarde de la serie 2",
          start: "2020-09-22",
          end: "2020-09-29",
          cssClass: ["event", "afternoon"],
        },
        {
          title: "Día entero",
          description: "Es la descripción del día entero",
          start: "2020-09-14",
          end: "2020-09-14",
          cssClass: ["event", "full"],
        },
        {
          title: "Serie 1 - Turno de mañana",
          description: "Es la descripción del turno de mañana de la serie 1",
          start: "2020-09-09",
          end: "2020-09-11",
          cssClass: ["event", "morning"],
        },
        {
          title: "Serie 1 - Turno de tarde",
          description: "Es la descripción del turno de tarde de la serie 1",
          start: "2020-09-09",
          end: "2020-09-11",
          cssClass: ["event", "afternoon"],
        },
      ],
    };
  },
  methods: {
    changeMonth(start, end, current) {
      console.log("Month changed to: ", moment(current).month() + 1);
    },
    eventClick(event) {
      this.selectedEvent = { ...this.events[event._id] };
      this.dialog = true;
    },
    dayClick(day, eventJs) {
      if (this.isCurrentMonth(eventJs.target)) {
        this.processSelection(this.getDayCell(moment(day).date()));
      }
    },
    processSelection(dayCell) {
      if (dayCell.classList.contains("selected")) {
        dayCell.classList.remove("selected");
      } else {
        dayCell.classList.add("selected");
      }
    },
    getDayCell(number) {
      const numbers = [...this.$el.querySelectorAll(".day-number")];
      return numbers
        .filter(
          (element) =>
            !element.parentElement.classList.contains("not-cur-month")
        )
        .filter((element) => element.innerText == number)[0].parentElement;
    },
    isCurrentMonth(target) {
      return !target.closest(".events-day").classList.contains("not-cur-month");
    },
    saveChanges(event) {
      this.dialog = false;
      this.events = this.events.map((each, idx) =>
        idx == event._id ? event : each
      );
    },
  },
};
</script>

<style>
.comp-full-calendar {
  max-width: 100%;
  height: 100vh;
}
.day-cell {
  height: 125px;
}
.events-day {
  min-height: 125px !important;
}
.full-calendar-body .dates .week-row .day-cell.today {
  background-color: white;
}
.full {
  min-height: 80px;
  padding: 30px 20px !important;
  background-color: darksalmon !important;
  color: white !important;
}
.morning {
  min-height: 40px;
  padding: 10px !important;
  background-color: tomato !important;
  color: white !important;
}
.afternoon {
  min-height: 40px;
  padding: 10px !important;
  background-color: indigo !important;
  color: white !important;
}
.selected {
  background-color: beige !important;
}
</style>
