<template>
  <v-app id="dayspan" v-cloak>
    <ds-calendar-app :calendar="calendar"></ds-calendar-app>
  </v-app>
</template>

<script>
import { Calendar } from "dayspan";

// USING: https://github.com/ClickerMonkey/dayspan-vuetify

export default {
  name: "Calendar2",
  data: () => ({
    calendar: Calendar.months(),
  }),
};
</script>

<style scoped>
body,
html,
#app,
#dayspan {
  font-family: Roboto, sans-serif;
  width: 100%;
  height: 100%;
}
</style>
